<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Popcorn</property>
        <property name="hibernate.connection.username">steven</property>
        <property name="hibernate.connection.password">crystalgems</property>
        <property name="hbm2ddl.auto">validate</property>
        <!-- Enable thread-bound strategy -->
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.crystalgems.popcorn.model.Actor"/>
        <mapping class="com.crystalgems.popcorn.model.Age"/>
        <mapping class="com.crystalgems.popcorn.model.Color"/>
        <mapping class="com.crystalgems.popcorn.model.Country"/>
        <mapping class="com.crystalgems.popcorn.model.Countrycode"/>
        <mapping class="com.crystalgems.popcorn.model.Currency"/>
        <mapping class="com.crystalgems.popcorn.model.Director"/>
        <mapping class="com.crystalgems.popcorn.model.Distributor"/>
        <mapping class="com.crystalgems.popcorn.model.Gender"/>
        <mapping class="com.crystalgems.popcorn.model.Genre"/>
        <mapping class="com.crystalgems.popcorn.model.Keyword"/>
        <mapping class="com.crystalgems.popcorn.model.Language"/>
        <mapping class="com.crystalgems.popcorn.model.Linktype"/>
        <mapping class="com.crystalgems.popcorn.model.Moviebusiness"/>
        <mapping class="com.crystalgems.popcorn.model.Moviecolor"/>
        <mapping class="com.crystalgems.popcorn.model.Movie"/>
        <mapping class="com.crystalgems.popcorn.model.Movietype"/>
        <mapping class="com.crystalgems.popcorn.model.Occupation"/>
        <mapping class="com.crystalgems.popcorn.model.Producer"/>
        <mapping class="com.crystalgems.popcorn.model.Productor"/>
        <mapping class="com.crystalgems.popcorn.model.Type"/>
        <mapping class="com.crystalgems.popcorn.model.User"/>
        <mapping class="com.crystalgems.popcorn.model.Rating"/>
        <mapping class="com.crystalgems.popcorn.model.Writter"/>
        <mapping class="com.crystalgems.popcorn.model.Zone"/>

    </session-factory>
</hibernate-configuration>